/*
 * @Author: xiaofan 
 * @Date: 2018-11-13 15:05:59 
 * @Last Modified by: xiaofan
 * @Last Modified time: 2018-11-13 16:12:44
 */

/* 侧边导航 */
.nav-side {
	float: left;
	width: 130px;
	min-height: 100px;
}
.nav-side .nav-item {
	line-height: 25px;
	/* font-size: 15px; */
}
.nav-side .nav-item .link {
	color: #888;
}

.nav-side .nav-item.active .link {
	color: #c60023;
}

.content.with-nav {
	float: left;
	width: 950px;
}