<!DOCTYPE html>
<html lang="en">

<head>
	<%= require('html-loader!./layout/head-common.html') %>
	<title>
		<%= htmlWebpackPlugin.options.title %> - MMal电商平台</title>
</head>

<body>
	<!-- nav -->
	<%= require('html-loader!./layout/nav.html') %>
	<!-- 引入header -->
	<%= require('html-loader!./layout/header.html') %>

	<div class="crumb">
		<div class="w">
			<div class="crumb-con">
				<a href="./index.html" class="link">MMall</a>
				<span>></span>
				<span class="link-text">
					<%= htmlWebpackPlugin.options.title %></span>
			</div>
		</div>
	</div>

	<div class="page-wrap w">

		<div class="intro-wrap">
			<div class="p-img-con">
				<div class="main-img-con">
					<img src="http://img.happymmall.com/241997c4-9e62-4824-b7f0-7425c3c28917.jpeg" alt="main-img" class="main-img" />
				</div>
				<ul class="p-img-list">
					<li class="p-img-item">
						<img src="http://img.happymmall.com/241997c4-9e62-4824-b7f0-7425c3c28917.jpeg" alt="p-img" class="p-img">
					</li>
					<li class="p-img-item">
						<img src="http://img.happymmall.com/0093f5d3-bdb4-4fb0-bec5-5465dfd26363.jpeg" alt="p-img" class="p-img">
					</li>
					<li class="p-img-item">
						<img src="http://img.happymmall.com/af13decd-5999-4ef8-a1f4-be2e975012ff.jpg" alt="p-img" class="p-img">
					</li>
					<li class="p-img-item">
						<img src="http://img.happymmall.com/12179294-9ed9-4cd7-beea-9b69d492eca3.jpg" alt="p-img" class="p-img">
					</li>
					<li class="p-img-item">
						<img src="http://img.happymmall.com/5a6fc150-bd09-4169-ada2-595d85674c6a.jpg" alt="p-img" class="p-img">
					</li>
				</ul>
			</div>

			<div class="p-info-con">
				<h1 class="p-name">手机</h1>
				<p class="p-subtitle">手机手机好手机哈哈哈</p>
				<div class="p-info-item p-price-con">
					<span class="label">价格：</span>
					<span class="info">￥8888</span>
				</div>
				<div class="p-info-item">
					<span class="label">库存：</span>
					<span class="info">999</span>
				</div>
				<div class="p-info-item p-count-con">
					<span class="label">数量：</span>
					<input type="text" class="p-count" value="1" readonly />
					<span class="p-count-btn plus">+</span>
					<span class="p-count-btn minus">-</span>
				</div>
				<div class="p-info-item">
					<button class="btn cart-add">加入购物车</button>
				</div>
			</div>
		</div>

		<div class="detail-wrap">

			<div class="detail-tab-con">
				<ul class="tab-list">
					<li class="tab-item active">详情描述</li>
				</ul>
			</div>

			<div class="detail-con">
				detail
			</div>
		</div>



		<!-- 引入footer-common -->
		<%= require('html-loader!./layout/footer-common.html') %>
</body>

</html>