<!DOCTYPE html>
<html lang="en">

<head>
	<%= require('html-loader!./layout/head-common.html') %>
	<title>
		<%= htmlWebpackPlugin.options.title %> - XMall电商平台</title>
</head>

<body>
	<!-- nav -->
	<%= require('html-loader!./layout/nav.html') %>
	<!-- 引入header -->
	<%= require('html-loader!./layout/header.html') %>

	<div class="main">
		<div class="crumb">
			<div class="w">
				<div class="crumb-con">
					<a href="./index.html" class="link">XMall</a>
					<span>></span>
					<span class="link-text">
						<%= htmlWebpackPlugin.options.title %></span>
				</div>
			</div>
		</div>

		<div class="page-wrap w">
			<!-- 排序部分 -->
			<ul class="sort-con">
				<li class="sort-item active" data-type="default">默认排序</li>
				<li class="sort-item" data-type="price">
					<span>价格</span>
					<i class="fa fa-sort-asc"></i>
					<i class="fa fa-sort-desc"></i>
				</li>
			</ul>

			<!-- list 部分 -->
			<ul class="p-list-con">

			</ul>

			<!-- 分页部分 -->
			<div class="pagination"></div>

		</div>
	</div>
	<!-- 引入footer-common -->
	<%= require('html-loader!./layout/footer-common.html') %>
</body>

</html>