<!DOCTYPE html>
<html lang="en">

<head>
	<%= require('html-loader!./layout/head-common.html') %>
	<title>
		<%= htmlWebpackPlugin.options.title %> - MMal电商平台</title>
</head>

<body>
	<!-- nav -->
	<%= require('html-loader!./layout/nav.html') %>
	<!-- 引入header -->
	<%= require('html-loader!./layout/header.html') %>

	<div class="crumb">
		<div class="w">
			<div class="crumb-con">
				<a href="./index.html" class="link">MMall</a>
				<span>></span>
				<span class="link-text">
					<%= htmlWebpackPlugin.options.title %></span>
			</div>
		</div>
	</div>

	<div class="page-wrap w">
		<!-- 收货地址 -->
		<div class="panel">
			<h1 class="panel-title">收货地址</h1>
			<div class="panel-body address-con">
				<!-- 填充地址列表数据 -->
			</div>
		</div>

		<!-- 商品清单 -->
		<div class="panel">
			<h1 class="panel-title">商品清单</h1>
			<div class="panel-body product-con">
				<!-- 填充商品清单数据 -->
			</div>
		</div>
	</div>

	<!-- 弹窗 -->
	<div class="modal-wrap">
		
	</div>

	<!-- 引入footer-common -->
	<%= require('html-loader!./layout/footer-common.html') %>
</body>

</html>