/*
 * @Author: xiaofan 
 * @Date: 2018-11-12 17:18:23 
 * @Last Modified by: xiaofan
 * @Last Modified time: 2018-11-13 17:31:55
 */

.footer {
	position: fixed;
	bottom: 10px;
	width: 100%;
	margin: 0 auto;
}

.footer .links, .copyright {
	color: #666;
	line-height: 30px;
	text-align: center;
}

.footer .links .link {
	padding: 0 10px;
}