/*
 * @Author: xiaofan 
 * @Date: 2018-11-12 17:18:23 
 * @Last Modified by: xiaofan
 * @Last Modified time: 2018-11-26 21:14:39
 */


.footer {
	width: 100%;
}

.footer .links, .copyright {
	font-size: 14px;
	color: #666;
	line-height: 20px;
	text-align: center;
}

.footer .links .link {
	padding: 0 10px;
}