/*
 * @Author: xiaofan 
 * @Date: 2018-11-18 19:19:39 
 * @Last Modified by: xiaofan
 * @Last Modified time: 2018-11-18 19:38:13
 */


.banner {
	position: relative;
	overflow: auto;
}

.banner li {
	list-style: none;
}

.banner ul li {
	float: left;
}