<footer class="footer">
	<div class="w">
		<div class="links">
			<a href="https://www.baidu.com/" class="link" target="_blank">百度</a> |
			<a href="https://cn.bing.com" class="link" target="_blank">必应</a> |
			<a href="https://www.zhihu.com/" class="link" target="_blank">知乎</a> |
			<a href="http://www.w3school.com.cn" class="link" target="_blank">W3School</a>
		</div>
		<p class="copyright">
			© 2018 XMall.com All Right Reserved

		</p>
	</div>
</footer>

<script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
<!-- <script>
	$(function () {
				function footerPosition() {
					$("footer").removeClass("fixed-bottom");

					var contentHeight = $('body').height(); //网页正文全文高度
						// winHeight = window.innerHeight; //可视窗口高度，不包括浏览器顶部工具栏
						console.log(contentHeight);
						// console.log(winHeight);
						
						
					// if ((contentHeight > winHeight)) {
					// 	//当网页正文高度小于可视窗口高度时，为footer添加类fixed-bottom
					// 	$("footer").addClass("fixed-bottom");
					// } else {
					// 	$("footer").removeClass("fixed-bottom");
					// }
				}
				footerPosition();
				$(window).resize(footerPosition);
			})
</script> -->