<footer class="footer">
	<div class="w">
		<div class="links">
			<a href="https://www.baidu.com/" class="link" target="_blank">百度</a> |
			<a href="https://cn.bing.com" class="link" target="_blank">必应</a> |
			<a href="https://www.zhihu.com/" class="link" target="_blank">知乎</a> |
			<a href="https://github.com/dvxiaofan" class="link" target="_blank">GitHub</a>
		</div>
		<p class="copyright">
			Copyright webxiaofan.com All Rights Reserved
		</p>
		<p class="copyright">
			豫ICP备18033814号 	邮箱:devxiaofan@163.com
		</p>
		<p class="copyright">
			鄂公安备 42010202001630
		</p>
	</div>
</footer>

<script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
