<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="keywords" content="XMall, 电商，网购，网上购物，网上商场，手机，数码，电脑，相机">
<meta name="description" content="XMall电商平台测试，家居百货、图书、等丰富产品">
<link rel="dns-prefetch" href="cdn.bootcss.com">
<link rel="dns-prefetch" href="s.webxiaofan.com">
<link rel="dns-prefetch" href="img.webxiaofan.com">

<script>
	var _hmt = _hmt || [];
	(function () {
		var hm = document.createElement("script");
		hm.src = "https://hm.baidu.com/hm.js?56dc1f8b5746a26f2272c86b281af84c";
		var s = document.getElementsByTagName("script")[0];
		s.parentNode.insertBefore(hm, s);
	})();
</script>