/*
 * @Author: xiaofan 
 * @Date: 2018-11-12 14:31:19 
 * @Last Modified by: xiaofan
 * @Last Modified time: 2018-11-14 17:06:03
 */

/* css reset */
* {
	margin: 0;
	padding: 0;
}

body {
	background: #f6f6f6;
}

li {
	list-style: none;
}

img {
	display: block;
	border: none;
}

label {
	cursor: pointer;
}

input[type='checkbox'] {
	cursor: pointer;
}

/* 定宽布局 */
.w {
	width: 1080px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

/* 全局通用样式 */
/* 隐藏类 */
.hide {
	display: none;
}

/* 超链接样式 */
.link {
	color: #999;
	cursor: pointer;
	text-decoration: none;
}

.link:hover {
	color: #e80012;
}

.link-text {
	color: #999;
	text-decoration: none;
}

/* btn */
.btn {
	display: inline-block;
	padding: 0 20px;
	font-size: 17px;
	font-weight: bold;
	color: #fff;
	background-color: #c60023;
	height: 35px;
	line-height: 35px;
	vertical-align: middle;
	border: none;
	outline: none;
	text-decoration: none;
	cursor: pointer;
}

.btn-mini {
	font-size: 12px;
	padding: 0 10px;
	height: 25px;
	line-height: 25px;
}

/* loading */
.loading {
	margin: 10px auto;
	display: block;
	width: 65px;
	height: 65px;
	border: 1px solid #ddd;
	border-radius: 5px;
	background: url(../../images/icon/loading.gif) no-repeat;
	opacity: .6;
}