/*
 * @Author: xiaofan 
 * @Date: 2018-11-08 16:11:50 
 * @Last Modified by: xiaofan
 * @Last Modified time: 2018-11-09 16:05:42
 */

 body {
	 /* background: url('../../images/test-img.jpg'); */
	 background: #ccc;
	 color: #0ff;
	 font-size: 38px;
 }