/*
 * @Author: xiaofan 
 * @Date: 2018-11-21 12:05:38 
 * @Last Modified by: xiaofan
 * @Last Modified time: 2018-11-23 23:26:46
 */

/* 订单信息 */
.text-line {
	height: 30px;
	line-height: 30px;
}
.order-info .text {
	margin-right: 30px;
}

.text-line .btn {
	width: 50px;
	height: 25px;
	line-height: 25px;
	font-size: 12px;
	margin-right: 10px;
}

/* 商品清单 */
.product-table {
	width: 100%;
	border-collapse: collapse;
}

 .product-table .cell.cell-th {
	 background: #eee;
 }

.product-table .cell {
	border-bottom: 1px dashed #ddd;
	background: #fafafa;
}

.product-table .cell-img {
	padding: 10px;
	width: 15%;
	text-align: center;
}

.product-table .cell-img .p-img {
	width: 80px;
	height: 80px;
	border: 1px solid #ddd;
}

.product-table .cell-info {
	width: 45%;
	text-align: center;
}

.product-table .cell-price {
	width: 15%;
	text-align: center;
}

.product-table .cell-count {
	width: 10%;
	text-align: center;
}

.product-table .cell-total {
	width: 15%;
	text-align: center;
}


/* 总价 */
.total {
	text-align: right;
	font-size: 14px;
	height: 40px;
	line-height: 40px;
	margin-top: 10px;
	margin-right: 20px;
}

.total .total-price {
	font-weight: bold;
	color: #c60023;
}
