/*
 * @Author: xiaofan 
 * @Date: 2018-11-13 16:37:50 
 * @Last Modified by: xiaofan
 * @Last Modified time: 2018-11-13 17:23:23
 */

.page-wrap {
	margin-top: 20px;
	padding: 30px 0;
	text-align: center;
	background-color: #fff;
}

.page-wrap .result-title {
	color: #555;
}

.page-wrap .result-content {
	margin-top: 25px;
}

.page-wrap .result-content .link {
	margin: 0 10px;
	padding: 5px 10px;
	border: 1px solid #ccc;
}